.menuSection {
    width: 100vw;
    height: auto;
    background-color: rgb(118,37,30);
}

.image {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.mainContainer {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainTitle {
    width: 100%;
    height: auto;
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
    text-align: center;
    color: #f6eee3;
}

.itemContainer {
    text-align: center;
}

.itemTitle {
    color: #f89d27f8;
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    padding-top: 6rem;
    padding-bottom: 3rem;
    font-weight: 500;
}

.container {
    padding-bottom: 3rem;
}

.item {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    font-weight: 500;
}

.itemDesc {
    color: white;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-inline: 2rem;
}

.itemPrice {
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 600px) {
    .mainTitle {
        font-size: 4rem;
    }
    .itemTitle {
        font-size: 2.8rem;
    }
    .item {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    .mainTitle {
        font-size: 2.5rem;
        padding-top: 2rem;
    }
    .itemTitle {
        font-size: 2.3rem;
        padding-inline: 2rem;
    }
    .item {
        font-size: 1.5rem;
        padding-inline: 2rem;
    }
    .itemDesc {
        font-size: 1rem;
    }
}